/* =Nav
-------------------------------------------------------------- */
#nav-trigger {
  display: none;
  text-align: center; }
#nav-trigger span {
    display: inline-block;
    padding: 10px 30px;
    background-color: #DDDDDD;
    color: #555555;
    cursor: pointer;
    text-transform: uppercase; }
    
#nav-trigger span:hover {
      background-color: #FFFFFF; }
#nav-trigger span.open:after {
      border-left: solid 10px transparent;
      border-top: none;
      border-bottom: solid 10px #fff;
      border-right: solid 10px transparent; }

nav {
  margin-top: 30px;
  float: right;
  font-size: 1.3em;
  
}

nav#nav-main {
  padding: 10px 0; 
  }
  nav#nav-main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  nav#nav-main li {
    display: inline-block;
     }
    nav#nav-main li:last-child {
      border-right: none; }
  nav#nav-main a {
    display: block;
    color: white;
    padding-right: 20px; }
    nav#nav-main a:hover {
      color: #BFBFBF; }

nav#nav-mobile {
  position: relative;
  display: none; }
  nav#nav-mobile ul {
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #B1B1B1; }
  nav#nav-mobile li {
    display: block;
    padding: 5px 0;
     }
    nav#nav-mobile li:last-child {
      border-bottom: none; }
  nav#nav-mobile a {
    display: block;
    color: white;
	margin-left: -40px;
    padding: 10px 30px; }
    nav#nav-mobile a:hover {
      background-color: #767676;
      color: #fff;
	  margin-left: -40px;}

/* =Sections
-------------------------------------------------------------- */
section h1 {
  margin-bottom: 10px; }

section p {
  margin-bottom: 30px; }
  section p:last-child {
    margin-bottom: 0; }

/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 900px) {
  #nav-trigger {
    display: block;
	margin-top: 20px; }

  nav#nav-main {
    display: none; }

  nav#nav-mobile {
    display: block; } 
	
nav {
  float: none;
  
}
	}
