body {
	color: #fff;
	background-image: url(images/bg/background350.png);
	background-size: cover;
	font-family: 'Philosopher', sans-serif;

}
.button {
  	color: #fff;
  	border: 1px solid #4A4A4A;
  	background-color: #6E6E6E;
  	font-weight: bold;
  	margin-left: 10px;
}
h1 {
	padding-left: 30px;
}
p {
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
}
ul, ol {
	margin-left: 30px;
}
a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	color: #BCBCBC;
}
table {
	margin: auto;
}
table, th, td {
   border: 1px solid #8F8F8F;
   border-collapse: collapse;
}
table td {
	width: 600px;
	padding: 10px;
}
table img {
	width: 100%;
}
.clear {
	clear: both;
}
.wrapper {
	margin: 0 auto;
	width: 100%;
	border-radius: 30px;
	background: rgb(0, 0, 0, 0.4); /* Fallback for old browsers that doesn't support rgba */
	background: rgba(0, 0, 0, 0.4);
}
.logo {
	font-size: 3.3em;
	text-align: center;
}
.logo a:hover {
	color: #fff;
}
.item {
	text-align: center;
}
.item a {
	color: #FFF;
	text-decoration: none;
}
.item a:hover {
	color: #FFF;
	text-decoration: none;
}
.item a:visited {
	color: #FFF;
	text-decoration: none;
}
.main {
	background-color: rgb(255, 255, 255); /* Fallback for old browsers that doesn't support rgba */
	background-color: rgba(255, 255, 255, 0.3);
    border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border-width: 100% no-repeat;
	margin-top: 40px;
	padding-bottom: 10px;
	padding-top: 5px;
}
footer {
	text-align: center;
	padding-top: 30px;
}
.tumblingpic {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}
.bold {
	font-weight: bolder;
}
.sitemap {
	margin-left: 50px;
}
.sitemap a:hover {
	color: #DDDDDD;
}
#choose {
	padding-left: 30px;
}
.gameoutput {
	padding-left: 40px;
	padding-top: 35px;
}
#outputresponse {
	padding-left: 40px;
	padding-top: 25px;
}
.httpoutput {
	background-color: #646464;
}
@media only screen and (min-width: 350px) {
.logo {
	margin-left: 30px;
}
}
@media only screen and (min-width: 460px) {
.center {
	width: 328px;
	margin: 0 auto;
}
.logo {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}
}
@media only screen and (min-width: 558px) {
.center {
	margin: auto;
	float: right;
	margin-right: 20px;
	margin-top: 20px;
}
}
@media only screen and (min-width: 670px) {
body {
	background-image: url(images/bg/background670.png);
}
}
@media only screen and (min-width: 780px) {
body {
	background-image: url(images/bg/background1300.png);
}
}
@media only screen and (min-width: 1280px) {
.wrapper {
	width: 80%;
}
}
@media only screen and (min-width: 1680px) {

/* #### Begin -> Highest resolution version #### */

body {
	background-image: url(images/bg/background1080.png);
}

/* #### End -> Highest resolution version #### */

}